<div class='col'>
  <h4 class='header'>{{notebook.title}}</h4>
  <div class='card'>
    <div class='horizontal'>
      <div class='card-img'>
        <img src={{notebook.img}} />
      </div>
      <hr />
      <div class='card-descr'>
        <p>{{notebook.descr}}</p>
      </div>

    </div>
    <div class='price notebook-price'>{{notebook.price}}</div>
    <div class='card-action'>
      <a href='/notebooks'>Go Back</a>
    </div>
  </div>

</div>